@charset "utf-8";

/* Reset CSS  */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

/* CSS  */
	/* Responsive */
		/* Version para moviles */
			[class*="col-"] {
				width: 100%;
			}
			@media only screen and (min-width: 768px) {
				/* Para escritorio */
				.col-1 {width: 8.33%;}
				.col-2 {width: 16.66%;}
				.col-3 {width: 25%;}
				.col-4 {width: 33.33%;}
				.col-5 {width: 41.66%;}
				.col-6 {width: 50%;}
				.col-7 {width: 58.33%;}
				.col-8 {width: 66.66%;}
				.col-9 {width: 75%;}
				.col-10 {width: 83.33%;}
				.col-11 {width: 91.66%;}
				.col-12 {width: 100%;}
			} 
/* Estilos para web  */
body{
	font-size: 62.5%;
	background-color: white;

}

.centered-image-container {
    text-align: center;
}

.centered-image {
    width: auto;
    max-width: 100%;
}

.centered-image:hover  {
	filter: blur(1.5px);
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
	transition: all 1s ease;
}

figure{
	margin: auto;
	height: device-width;
	width: auto;

}

.footer-logo{
	padding: 5px;
	display: block;
    margin: 0 auto;
	text-align: center;

}

.content {
	position: relative;
	margin: 0 auto;
  	z-index: 9999;
	text-align: center;

}

h2{
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 30px;
	color: #FFFFFF;
	margin: 0 auto;
	text-align: center;
	padding: 15px;
	
}

h1{
	font: normal 1em Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	color: black;
	margin:0 auto;
	
}

.banner{
	background-color: #b32a31;
	margin: 0 auto;
}

/* Responsive Tablet Sizes */
@media only screen and (max-width: 749px) {
  footer {
	  background-color: #ededed;
      .footer-logoFooter {
		  	background-color: #ededed; 
        	max-width:250px;
       	 	 width:50%;
      }
    }
  }
}
/* Responsive Mobile Sizes */
@media only screen and (max-width: 500px) {
  footer {
    .centered {
      .footer-logoFooter {
		background-color: #ededed; 
        width:100%;
        margin:0 auto;
		text-align: center;
      }
      
         
            /* Down Arrows */
            &::after {
              float: right;
              margin-right: 10px;
              content: "";
              display: inline-block;
              vertical-align: middle;
              margin-top: 7px;
              width: 7px;
              height: 7px;
              border-top: 2px solid #fff;
              border-right: 2px solid #fff;
              -moz-transform: rotate(135deg);
              -ms-transform: rotate(135deg);
              -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
              -webkit-transition: transform .5s;
              transition: transform .5s;
            }
	  }
	}

/* Misc CSS */
.clearfix {
  &:before,
  &:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both;
  }
}

